body {
  margin: 0;
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  min-height: 100vh;
  background-image: linear-gradient(160deg, #f9fafb 15%, #d2d6db 100%);
}

* {
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12.5rem;
  min-height: 100vh;
}

.testimonial_card {
  width: 21.25rem;
  background-color: #ffffff;
  padding: 1.5rem;
  box-shadow: 0px 4px 8px #d2d6db;
  border-radius: 0.5rem;
}

.avatar_profile {
  height: 3.0625rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.avatar_profile img {
  width: 3.125rem;
  height: 3.125rem;
}

.avatar_profile-details {
  height: 3.0625rem;
  display: flex;
  flex-direction: column;
}

.avatar_profile-username {
  font-size: 1rem;
  color: #525252;
}

.avatar_profile-name {
  font-size: 1.25rem;
  font-weight: 600;
  color: #171717;
}

.testimonial_card-text {
  margin-top: 1.5rem;
  font-size: 1rem;
  color: #525252;
}

.credits {
  color: #777;
  position: fixed;
  bottom: 24px;
  left: 24px;
  font-size: 11px;
  text-align: center;
}

.credits a {
  color: #000;
  font-weight: bold;
}
