body {
    background-image: linear-gradient(to bottom, #f9fafb, #d2d6db);
    font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
    margin: 0;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
    transition: all 0.25s ease;
}

.logo-marquee-section {
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
}

/* marquee animation */

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.marquee {
    animation: marquee 15s linear infinite;
}


.marquee:hover {
    animation-play-state: paused;
}

@media screen and (width >= 768px) {
    .logo-marquee-section {
        box-shadow: 0 2px 4px -1px rgb(0 0 0 / 6%), 0 4px 6px -1px rgb(0 0 0 / 10%);
    }
}

@media screen and (width >= 1440px) {
    .logo-marquee-section {
        box-shadow: 0 4px 6px -2px rgb(0 0 0 / 5%), 0 10px 15px -3px rgb(0 0 0 / 10%);
    }
}

.credits {
    bottom: 24px;
    color: #777;
    font-size: 11px;
    left: 24px;
    position: fixed;
    text-align: center;
}

.credits a {
    color: #000;
    font-weight: bold;
}
