/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  transition: all 0.25s ease;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

a {
  text-decoration: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  min-height: 100vh;
  background-color: #fafafafa;
  /* background: linear-gradient(90deg, #f3faf4, #f5fcf6) */
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project {
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.visit-profile {
  margin-bottom: 24px;
  padding: 12px 24px;
  background: #fff;
  border: 1px solid #1707f7;
  border-radius: 8px;
  color: #1707f7;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;

  &:hover {
    background: #1707f7;
    color: #fff;
  
  }
}

.heading {
  font-size: 38px;
  font-weight: 700;
  color: #333;
  line-height: 38px;
  margin-bottom: 24px;
}

.supporting-text {
  font-size: 18px;
  font-weight: 400;
  color: #333;
  line-height: 24px;
  margin-bottom: 48px;
  text-align: center;
}

.project-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 200px;
}

.search-bar {
  border: 1px solid #333;
  /* padding: 25px; */
  width: 100%;
  height: 64px;
  max-width: 400px;
  background: #fff;
  border-radius: 8px;
  -webkit-box-shadow: 0 0.15rem 0.75rem 0 rgba(58, 59, 69, 0.15);
  box-shadow: 0 0.15rem 0.75rem 0 rgba(58, 59, 69, 0.15);
  display: flex;
  align-items:center;
  position: sticky;
  top: 2%;
  z-index: 999;


  form {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    svg {
      position: absolute;
      left: 20px;
    }

    input {
      width: 100%;
      max-width: 500px;
      height: 100%;
      padding: 10px 100px 10px 55px; 
      border: none;
      outline: none;
      background: transparent;
      font-size: 16px;
      color: #333;
    }
  }
}

.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  justify-content: center;
  width: 100%;
  max-width: 1600px;
  margin-top: 48px;
  padding: 24px;
  background: #fff;
  border-radius: 8px;
  /* border-top-left-radius: 5rem;
  border-top-right-radius: 5rem; */
  position: relative;
}

.project-card {
  cursor: pointer;
  width: 100%;
  max-width: 400px;
  height: 380px;
  background: #ffffffff;
  border-radius: 8px;
  /* padding: 24px; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  gap: 12px;
  -webkit-box-shadow: 0 0.15rem 0.75rem 0 rgba(58, 59, 69, 0.15);
  box-shadow: 0 0.15rem 0.75rem 0 rgba(58, 59, 69, 0.15);

  &:hover {
    background: #f5fcf6;
    border: 1px solid #1707f7;
    transform : scale(1.05);
  }

  .project-title {
    font-size: 16px;
    font-weight: 700;
    color: #333;
    padding: 10px;
  }

  .project-image-div {
    width: 100%;
    /* height: 200px; */
    overflow: hidden;
  }

  .project-image {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
  }

  /* .project-description {
    font-size: 16px;
    font-weight: 400;
    color: #333;
  } */

  /* .project-details {
    margin-bottom: 10px;
  } */

 .project-skills-img {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 8px;
    padding-left: 10px;
    /* margin-bottom: 10px; */

 img {
    width: 40px;
    height: 40px;
    margin-right: 8px;
    object-fit: cover;
  }
}
}

.project-card.active {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

